body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure that the body takes up at least the height of the viewport */
}
.table-container {
    max-width: 1262px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 204px;
    /* margin-bottom: auto; */
  }
  
  .tab-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab-btn {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .tab-btn.active {
    background-color: #4caf50;
    color: white;
  }
  
  .tab-btn:hover {
    background-color: #ddd;
  }
  
  table {
    width: 1262px;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .cancelled {
    color: red;
    font-weight: bold;
  }
  footer{
    margin-top: auto;
  }
  

/* Hide all tables by default */
.table-container table {
  display: none;
}

/* Show the active table */
.table-container table.active {
  display: table;
}

.cancel-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: darkred;
}
