{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <!--This one here is for navigation bar registration part-->
    <header>
        <!-- Your styled header and navbar here -->
        <a href="{% url 'index' %}" class="logo">DropCar</a>
    </header>
<!-- Your existing HTML code here -->

<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="" method="POST">
            {% csrf_token %}
			<h1>Forgot Password</h1>
			<p class="black_p">Check your Email for further instructions </p>
			<input type="hidden" name="email" id="email-input-field" placeholder="Email" />
			{% comment %} <button type="submit">Submit</button> {% endcomment %}
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Follow the given instructions to retrive your password.</p>
			</div>
		</div>
	</div>
</div>

</body>
</html>

