{% extends 'components/base.html'%}
    {% block content %}
    <body>
        <!--Home-->
        <section class="home" id="home">
            <div class="text">
                <h1>
                    <span>Looking</span> to
                    <br>
                    rent a car
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <br>
                    Optio hic consequuntur,Lorem ipsum do
                </p>
                <div class="app-stores">
                    <img src="static/images/ios.png" alt="">
                    <img src="static/images/play.png" alt="">
                </div>
            </div>
            <div class="form-container">
                <form action="">
                    <div class="input-box">
                        <span>Pick Up Location</span>
                        <input type="search" name="" id="" placeholder="Search Places">
                    </div>
                    <div class="input-box">
                        <span>Drop Off Location</span>
                        <input type="search" name="" id="" placeholder="Search Places">
                    </div>
                    <div class="input-box">
                        <span>Pick-Up Date</span>
                        <input type="date" name="" id="">
                    </div>
                    <div class="input-box">
                        <span>Return Date</span>
                        <input type="date" name="" id="">
                    </div>
                    <input type="submit" name="" id="" class="btn">
                </form>
            </div>
        </section>
        <!--Ride-->
        <section class="ride" id="ride">
            <div class="heading">
                <span>How Its Work</span>
                <h1>Rent With 3 Easy Steps</h1>
            </div>
            <div class="ride-container">
                <div class="box">
                    <i class='bx bxs-map'></i>
                    <h2>Choose a Location</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quae.</p>
                </div>
                <div class="box">
                    <i class='bx bxs-calendar-check'></i>
                    <h2>Pick-Up Date</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quae.</p>
                </div>
                <div class="box">
                    <i class='bx bxs-calendar-star'></i>
                    <h2>Book A Car</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quae.</p>
                </div>
            </div>
        </section>
        <!--Services-->
        <section class="services" id="services">
            <div class="heading">
                <span>Best Services</span>
                <h1>
                    Explore Out Top Deals
                    <br>
                    From Top Rated Dealers
                </h1>
            </div>
            <div class="services-container">
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car1.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car2.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car3.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car4.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car5.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car6.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car1.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
                <div class="box">
                    <div class="box-img">
                        <img src="static/images/car4.jpg" alt="">
                    </div>
                    <p>2017</p>
                    <h3>2018 Honda Civic</h3>
                    <h2>
                        $58500 | $358 <span>/hour</span>
                    </h2>
                    <a href="#" class="btn">Rent Now</a>
                </div>
            </div>
        </section>
        <!--About-->
        <section class="about" id="about">
            <div class="heading">
                <span>About Us</span>
                <h1>Best Customer Experience</h1>
            </div>
            <div class="about-container">
                <div class="about-img">
                    <img src="static/images/about.png" alt="">
                </div>
                <div class="about-text">
                    <span>About Us</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam rerum minima blanditiis laboriosam consectetur ullam repellat asperiores, quasi natus voluptate consequuntur officiis hic possimus animi modi, quidem molestias labore porro incidunt inventore, numquam provident.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestias voluptatibus explicabo aliquam eaque a reprehenderit veniam cumque.
                    </p>
                </div>
            </div>
        </section>
        <!--Reviews-->
        <section class="reviews" id="reviews">
            <div class="heading">
                <span>Reviews</span>
                <h1>Whats Our Customer Say</h1>
            </div>
            <div class="reviews-container">
                <div class="box">
                    <div class="rev-img">
                        <img src="static/images/rev1.jpg" alt="">
                    </div>
                    <h2>John Doe</h2>
                    <div class="stars">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut odio quae magnam repellendus, eligendi voluptate sapiente rem alias.
                    </p>
                </div>
                <div class="box">
                    <div class="rev-img">
                        <img src="static/images/rev2.jpg" alt="">
                    </div>
                    <h2>John Doe</h2>
                    <div class="stars">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, praesentium officia aperiam minima repellat amet distinctio dolor reprehenderit!
                    </p>
                </div>
                <div class="box">
                    <div class="rev-img">
                        <img src="static/images/rev3.jpg" alt="">
                    </div>
                    <h2>John Doe</h2>
                    <div class="stars">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam fuga, obcaecati consequuntur libero similique at dolorem ipsam illo?
                    </p>
                </div>
            </div>
        </section>
        <!--ScrollReveal-->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- Link To JS-->
        <script src="static/js/main.js"></script>
    </body>
{% endblock content %}

