{% extends 'components/base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/RentCar.css' %}" />
{% endblock style %} {% block content %}
<section class="section-content">
  <div class="details-container">
    <div class="vehicle-container">
      <div class="car-image">
        <img src="{{ vehicle.image.url }}" alt="Car Image" />
      </div>
      <div class="car-info">
        <h2>Car Details</h2>
        <p><strong>Vehicle name:</strong> {{ vehicle.name }}</p>
        <p><strong>Category:</strong> {{ vehicle.Vehicle_Type }}</p>
        <p><strong>Year:</strong> {{ vehicle.model_year }}</p>
        <p><strong>Price:</strong> {{ vehicle.price_per_day }}</p>
        <p><strong>Features:</strong> GPS, Leather Seats, Sunroof</p>
        {% comment %} <h3>Description</h3>
        <p>{{ vehicle.description }}</p> {% endcomment %}
      </div>
    </div>
    <div class="booking-card">
      <div class="estimated-amount">
        <p>Total Amount</p>
        <h2 id="total-amount">Rs. 0</h2>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="terms" name="terms" />
        <label for="terms">Accept Terms and Conditions</label>
      </div>
      <button class="book-btn" type="button">Book Now</button>
    </div>
  </div>
</section>
<section class="container">
  <div class="location-details">
    <div class="from">
      <h3>From</h3>
      <p>{{ request.session.pickup_datetime }}</p>
      <p>
        {{ request.session.pickup_location }}
      </p>
    </div>
    <div class="to">
      <h3>To</h3>
      <p>{{ request.session.return_datetime }}</p>
      <p>
        {{ request.session.dropoff_location }}
      </p>
    </div>
  </div>
  <div class="about-car">
    <h3>About Car</h3>
      <p>{{ vehicle.description }}</p>
  </div>
</section>

<script>
  // Get the pickup and return date strings from the session
  var pickupDateString = "{{ request.session.pickup_datetime }}";
  var returnDateString = "{{ request.session.return_datetime }}";

  // Parse the date strings to Date objects
  var pickupDate = new Date(pickupDateString);
  var returnDate = new Date(returnDateString);

  // Calculate the duration in milliseconds
  var durationMillis = returnDate - pickupDate;

  // Convert the duration to days
  var durationDays = durationMillis / (1000 * 60 * 60 * 24);

  // Retrieve the price per day of the vehicle (assuming it's available in the template context)
  var pricePerDay = {{ vehicle.price_per_day }};

  // Calculate the total amount
  var totalAmount = Math.floor(durationDays) * pricePerDay;

  // Display the total amount in the HTML element
  document.getElementById("total-amount").textContent = "Rs. " + totalAmount;
</script>
{% endblock content %}
