{% extends 'components/base.html' %}
    {% load static %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/RentCar.css' %}">
    {% endblock style %}
    {% block content %}
<section>
    {% comment %} <div class="vehicle-detail">
        <button class="back-button">Back</button>
        <div class="car-image">
            <img src="static/images/car3.jpg" class="img-fluid" alt="Car Image">
        </div>
        <div class="details-booking">
            <h4>Booking Detail</h4>
        </div>
        .
            <p>From: Swoyambhu Bhagwan Pau, Swayambhu Circle Road, Kathmandu, Nepal</p>
            <p>To: Lakeside, Pokhara, Nepal</p>
            <p>Start Date: 2024-03-24 6:00 PM</p>
            <p>End Date: 2024-03-26 4:30 PM</p>
        </div>
    </div>   {% endcomment %}
    <div class="vehicle-container">
        <div class="car-image">
            <img src="static/images/car3.jpg" alt="Car Image">
        </div>
        <div class="car-info">
            <h2>Car Details</h2>
            <p><strong>Make:</strong> Toyota</p>
            <p><strong>Model:</strong> Camry</p>
            <p><strong>Year:</strong> 2022</p>
            <p><strong>Color:</strong> Silver</p>
            <p><strong>Features:</strong> GPS, Leather Seats, Sunroof</p>
            <h3>Terms and Conditions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ex nec mi tempus pharetra.</p>
            <p>...</p>
        </div>
    </div>
</section>
<section class="container">
    <div class="location-details">
      <div class="from">
        <h3>From</h3>
        <p>Mon, 22 Apr, 08:00 AM</p>
        <p>1, Kodihalli Main Rd, HAL 3rd Stage, New Tippasandra, Bengaluru, Karnataka 560008, India</p>
      </div>
      <div class="to">
        <h3>To</h3>
        <p>Thu, 25 Apr, 12:00 PM</p>
        <p>1, Kodihalli Main Rd, HAL 3rd Stage, New Tippasandra, Bengaluru, Karnataka 560008, India</p>
      </div>
    </div>
  </section>

    {% endblock content %}