
    <header>
        <div class="header-content">
            
            <!-- Your styled header and navbar here -->
            <a href="{% url 'index' %}#home" class="logo">DropCar</a>
            <div class="bx bx-menu" id="menu-icon"></div>
            <ul class="navbar">
                <li>
                    <a href="{% url 'index' %}#home">Home</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#ride">Ride</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#about">About</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#contact">Contact Us</a>
                </li>
            </ul>
            <div class="header-btn">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    {% comment %} <button class="dropbtn">{{ user.full_name|slice:"1" }}</button> {% endcomment %}
                    {% if user.profile_pic %}
                    <button class="dropbtn user-profile-pic" style="background-image: url('{{ user.profile_pic.url }}')"></button>
                    {% else %}
                    <button class="dropbtn"><i class="fas fa-user"></i></button>
                    {% endif %}
                    
                    <div class="dropdown-content">
                        <a href="{% url 'myProfile' %}">My Profile</a>
                        <a href="{% url 'my_booking' %}">My Bookings</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
                {% else %}
                <button class="log-in" onclick="window.location.href='{% url 'login' %}'">Sign In</button>
                {% endif %}
            </div>
        </div>
        </header>
</body>
</html>